/*=============== B°_°kI =============================================================*/
/* TEMPLATE > INDEX ========================================= OC FULLSTACK ===========*/
/*====================================================================================*/

/*=============== B°_°kI =============================================================*/
/* MAIN ===================================================== OC FULLSTACK ===========*/
/*====================================================================================*/
main {
  max-width: 95%;
  margin: auto;
}

main > p {
  display: flex;
  align-items: center;
}

#filter {
  margin-top: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

#filter h3 {
  display: inline-block;
  margin-right: 10px;
}

#filter nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

#filter nav > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 0.3rem;
  white-space: nowrap;
  width: calc(20% - 0.1618vw);
  padding: 1rem 2rem;
  color: black;
  background-color: var(--base);
  text-decoration: none;
  border-color: #f2f2f2;
  border-radius: 30px;
  border-style: solid;
  font-weight: bold;
  font-size: 1.1rem;
}

#filter nav > a:hover {
  background-color: var(--second);
}

#hebergements-and-populaires {
  /* var */
  --min-host: 10ch;
  --gap-host: 1rem;
  /* rules */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-host);
}

#hebergements,
#populaires {
  display: flex;
  background-color: var(--background-second);
  border-radius: 20px;
  padding: 20px;
}

/* -------------------------------------------------*/

#hebergements {
  flex-direction: column;
}

#hebergements > * {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  flex-grow: 1;
  gap: 2vw;
}

#hebergements h2 {
  display: flex;
  align-items: baseline;
  justify-content: left;
  width: 100%;
}

.plusplus {
  display: block;
  align-self: start;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-top: 1em;
}

/* -------------------------------------------------*/
#populaires {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  min-width: 420px;
  flex-shrink: 0;
  gap: 30px;
}

.pop-cards {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.populaires-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.populaires-title > * {
  display: flex;
}

/* -------------------------------------------------*/
#act {
  display: flex;
  justify-content: center;
}

#activites {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 20px;
  /*margin-top: 2rem;*/
}

#activites > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2vw;
}

/*========================================================== 🥲 ======================*/
/* CARD ==================================================== -  Not easy =============*/
/*==================================================== No girl you have a good idea ==*/
.card{
  display: flex;
  flex-basis: 28%;
}

.card > a {
  background-color: var(--base);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  font-size: 0.8rem;
  --img-ratio: 16 / 9;


  gap: 0.1rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: var(--radius);
  /*max-width: 200px;*/
}

.card a {
 border: 0px;
 text-decoration: none;
}

.card a:visited {
  border: 0px;
  color: transparent;
 }


.card img {
  aspect-ratio: var(--img-ratio);
  object-fit: cover;
  width: 100%;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  padding: 0.2rem;
}


.lateral > a {
  /* that's really cool css */
  flex-basis: 100%;
  width: auto;
  flex-flow: row nowrap;
}

.lateral img {
  /* var img neph */
  --img-lateral-ratio: 123 / 144;
  /* rules lateral */
  aspect-ratio: var(--img-lateral-ratio);
  object-fit: cover;
  width: 125px;
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
  border-top-right-radius: 0rem;
  padding: 0.2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 2px 0px 5px 10px;
}

.card-content h3 {
  margin: 5px 0px;
  padding: 0px 10px 0px 0px;
  height: auto;
}

.card-subtitle {
  padding: 0;
  margin: 0;
}

.none {
  width: 300px;
  gap: 1rem;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  justify-content: start;
  text-overflow: ellipsis;
  /*font-size: clamp(1vh, 4vh, 10vh);*/
}

.none img {
  --img-none-ratio: 4 / 5;
  aspect-ratio: var(--img-none-ratio);
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 0rem;
}

.none h3 {
  font-size: calc(0.8rem + 0.0618vw);
  margin-left: 10px;
  margin-top: 0;
}

/*=====================================================================================*/
/* FORMS ========================================================== OC 2023 ===========*/
/*===================================================================== by Nepha ======*/
search {
  display: inline-flex;
  margin: 1rch auto;
  max-height: 42px;
}

#search form {
  display: inline-flex;
}

#search .fa-location-dot {
  color: black;
  box-sizing: content-box;
  background-color: var(--background-second);
  border: 1px solid var(--background-second);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 12px 15px 12px;
}

#search button {
  background-color: var(--primary);
  color: var(--base);
  max-height: 42px;
  font-weight: bold;
  font-size: 1rem;
  padding: 11px 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0px;
}
.mobile-view {
  display: none;
}

input[type="text"] {
  max-height: 42px;
  border: none;
  border-bottom: 1px solid var(--background-second);
  border-top: 1px solid var(--background-second);
  padding: 10px; /* That's great hack girl */
}

input[type="text"]::placeholder {
  color: var(--link);
  font-weight: bold;
  font-size: 1rem;
}

/*=====================================================================================*/
/*  RESPONSIVE ==================================================== OC 2023 ===========*/
/*========================================================== Neah =====================*/

/* ====================================*/
/* TABLET =============================*/
/* ====================================*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: start;
  }

  #filter h3 {
    display: flex;
    width: 100%;
    justify-content: left;
    margin: 0px 0px 30px;
  }

  .general-view {
    display: inline;
  }
  .mobile-view {
    display: none;
  }

  #hebergements-and-populaires {
    flex-direction: column;
  }

  .pop-cards {
    flex-direction: row;
  }

  .lateral {
    min-width: 25%;
    max-width: none;
    width: fit-content;
  }
  .lateral img {
    --img-lateral-ratio: calc(16 / 9 * 2.618);
    width: 40%;
  }

  .none {
    flex-direction: unset;
    white-space: normal;
  }
}

/* ====================================*/
/* MOBILE =============================*/
/* ====================================*/

@media screen and (max-width: 767px) {
  /* ==================================*/
  /* HEADER MOBILE ====================*/
  /* ==================================*/

  header {
    flex-direction: column;
    max-width: none;
  }
  #logo {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  #nav-header {
    width: 100%;
  }

  #nav-header ul {
    width: 100%;
  }

  #nav-header ul li {
    margin: auto;
    align-content: first baseline;
  }

  #nav-header ul li a {
    border-top: none;
    border-bottom: solid 2px transparent;
    padding-top: unset;
    padding-bottom: 10px;
  }

  #nav-header ul li a:hover {
    border-top: none;
    border-bottom: solid 2px var(--primary);
  }

  #filter-search {
    max-width: 95%;
    margin: auto;
    align-content: center;
  }
  #filter {
    display: flex;
    flex-direction: column;
    margin: 0px auto 30px;
    max-width: 100%;
    align-items: start;
  }

  #filter nav {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: space-between;

    /* FLEX 
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: auto;
    flex-basis: 50%;
    justify-content: flex-start;
    */
  }

  #filter nav > a {
    width: 150px;
    min-width: 130px;
    justify-content: flex-start;
    align-content: baseline;
    flex-basis: 45%;
    padding: 1rem 0.5rem;
    font-size: calc(1.1rem * 0.1618px);
    flex-shrink: 1;

    /*text-size-adjust: 50%;*/
    /*width: calc(200px);*/
    /* margin-bottom: 10px;*/
  }

  .general-view {
    display: none;
  }
  .mobile-view {
    display: inline;
  }

  button {
    color: white;
    max-height: 42px;
    width: 42px;
    font-weight: bold;
    font-size: 1rem;
    padding: 11px 10px;
    border-radius: 15px;
    border: 0px;
    margin-left: -20px;
  }

  .fa-magnifying-glass {
    color: white;
    box-sizing: content-box;
    /*border: 2px solid var(--background-second);*/
    border-radius: 15px;
  }

  /* ==================================*/
  /* MAIN MOBILE ======================*/
  /* ==================================*/
  main {
    width: 100%;
    max-width: none;
  }

  main > p {
    max-width: 95%;
    margin: 5px 5px 10px;
    align-items: flex-start;
  }

  #hebergements-and-populaires {
    flex-direction: column-reverse;
    width: auto;
  }

  #populaires {
    min-width: 100%;
    max-width: 0;
    width: 100%;
    border-radius: 0;
  }

  #hebergements {
    background-color: white;
  }

  #hebergements > * {
    gap: 5vw;
  }

  #hebergements div {
    flex-direction: column;
  }

  .pop-cards {
    flex-direction: column;
  }

  #hebergements .card {
    max-width: none;
    /*gap: 5vw;*/
    width: 100%;
  }

  /*------- Merchandising Update ---------*/
  #hebergements .card:nth-child(1) {
    order: 1;
  }
  #hebergements .card:nth-child(2) {
    order: 6;
  }
  #hebergements .card:nth-child(3) {
    order: 3;
  }
  #hebergements .card:nth-child(4) {
    order: 4;
  }

  #hebergements .card:nth-child(5) {
    order: 2;
  }
  #hebergements .card:nth-child(6) {
    order: 5;
  }
  /*------- Merchandising Update ------END-*/
   #activites div {
    flex-direction: column;
    max-width: none;
    gap: 4vw;
  }
  
  .lateral {
    flex-basis: auto;
    min-width: 100%;
  }

  .lateral img {
    --img-lateral-ratio: 1/1;
    min-height: var(--img-lateral-ratio);
  }

  .none {
    max-width: none;

    width: 100%;
  }

  .none img {
    --img-none-ratio: 21/9;
  }
  /* ==================== FINAL DEBUG NEPHELIM ==============*/
  /* FOOTER MOBILE ==========================================*/
  /* ===================================== With N. TEAM =====*/

  footer {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  footer nav {
    flex-direction: column;
  }

  footer nav div {
    width: auto;
    margin-right: 3rem;
  }

  footer li {
    padding-bottom: 1rem;
  }

  /* =================================  WE ARE ONE ==========*/
  /* === HACK FOR GALAXY FLIP5 ==============================*/
  /* ================================ 2023 OC Review #2 =====*/

  @media screen and (max-width: 319px) {
    /* ==================================*/
    /* HEADER MOBILE ====================*/
    /* ==================================*/

    #filter nav {
      display: flex;
    }
    #filter nav a {
      width: 100%;
      flex: none;
    }
  }

  /* ================================================= 3301 =*/
  /* ========================================================*/
  /* ================================ 2023 OC Review #2 =====*/
}
