html {
  background-color: aqua;
}

.main-container {
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
}

/*=============== B°_°kI =============================================================*/
/* HEADER ===================================================== OC FULLSTACK =========*/
/*====================================================================================*/

header {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: auto;
}

#logo {
  padding: 5px 5px 5px 0px;
}

#nav-header {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
}

#nav-header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#nav-header ul li {
  display: inherit;
  justify-items: center;
  align-items: center;
  padding: auto 2px;
}

#nav-header ul li a {
  padding: 0.6rem;
  color: black;
  text-decoration: none;
  border-top: solid 2px transparent;
}

#nav-header ul li a:hover {
  color: var(--primary);
  border-top: solid 2px var(--primary);
}

/*=============== B°_°kI =============================================================*/
/* MAIN ===================================================== OC FULLSTACK ===========*/
/*====================================================================================*/
main {
  max-width: 95%;
  margin: auto;
}

#filter {
  margin-top: 3vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

#filter h3 {
  display: inline-block;
}

#filter nav > a {
  padding: 1rem 2rem;
  margin-left: 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  border-color: #f2f2f2;
  border-radius: 30px;
  border-style: solid;
  font-weight: bold;
  font-size: 1.1rem;
}

#filter nav > a:hover {
  background-color: var(--second);
}

#hebergements-and-populaires {
  /* var */
  --min-host: 10ch;
  --gap-host: 1rem;
  /* rules */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-host);
}

#hebergements,
#populaires {
  background-color: var(--background-second);
  border-radius: 20px;
  padding: 20px;
  gap: 2vw;
}

/* -------------------------------------------------*/

#hebergements > * {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  flex-grow: 1;
  gap: 1vw;
}

#hebergements h2 {
  display: flex;
  align-items: baseline;
  justify-content: left;
  width: 100%;
  max-height: 26px;
}

#hebergements > a {
  display: block;
  align-self: end;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-top: 1em;
}

/* -------------------------------------------------*/
#populaires {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.pop-cards {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.populaires-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.populaires-title > * {
  display: flex;
}

/* -------------------------------------------------*/
#act {
  display: flex;
  justify-content: center;
}

#activites {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 2rem;
}

#activites > div {
  display: flex;
  flex: row nowrap;
  justify-content: center;
  gap: 2vw;
}

/* -------------------------------------------------*/

article {
  display: flex;
  flex: row nowrap;
  max-width: 300px;
}

/*========================================================== 🥲 ======================*/
/* CARD ==================================================== -  Not easy =============*/
/*==================================================== No girl you have a good idea ==*/
.card {
  font-size: 0.8rem;
  --img-ratio: 16 / 9;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: var(--radius);
  max-width: 200px;
}

.card > img {
  aspect-ratio: var(--img-ratio);
  object-fit: cover;
  width: 100%;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  padding: 0.2rem;
}

.lateral {
  /* that's really cool css */
  flex-basis: 144px;
  min-width: 350px;
  max-width: 370px;
  flex-flow: row nowrap;
  gap: 15px;
  row-gap: 15px;
}

.lateral > img {
  /* var img neph */
  --img-lateral-ratio: 123 / 144;
  /* rules lateral */
  aspect-ratio: var(--img-lateral-ratio);
  object-fit: cover;
  width: 125px;
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
  border-top-right-radius: 0rem;
  padding: 0.2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  /*margin: 2px 0px 2px 2px;*/
}

.card-content p {
 padding: 0; 
}

.card-content h3 {
  margin: 0;
}

.none {
  width: 300px;
  gap: 1rem;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  flex-direction: row;
  justify-content: start;

  /* text hack design girl */
  /* That so cute 😜 */
  white-space: nowrap;
  text-overflow: ellipsis;
  /*font-size: clamp(1vh, 4vh, 10vh);*/
}

.none > img {
  --img-none-ratio: 4 / 5;
  aspect-ratio: var(--img-none-ratio);
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 0rem;
}

.none > h3 {
  font-size: calc(0.8rem + 0.0618vw);
  /*font-size: calc(80% +1,618vw);*/
  margin-left: 10px;
  margin-top: 0;
}

/*=============== B°_°kI =================== CICADA 3301 =============== A GAME ======*/
/* FOOTER ===================================================== DID FULLSTACK ========*/
/*====================================================================================*/

footer {
  display: flex;
  width: 95%;
  max-width: 95%;
  margin: 3vh auto 0;
  gap: 2vw;
  background-color: var(--background-second);
}
footer nav {
  width: inherit;
  display: flex;
  flex-flow: row;
  row-gap: 3vw;
  justify-content: space-evenly;
}
/*
footer nav > div{
  width: 300px;

}
*/
footer h3 {
  margin-bottom: 0;
}

footer ul {
  padding: 0;
  align-items: center;
  align-content: center;
}
footer ul li {
  list-style: none;
}

footer a {
  a:link {
    color: black;
  }
}

/*=====================================================================================*/
/* FORMS ========================================================== OC 2023 ===========*/
/*===================================================================== by Nepha ======*/
search {
  margin: 1rch auto;
  max-height: 42px;
}

#search .fa-location-dot {
  color: black;
  box-sizing: content-box;
  size: 20px;
  background-color: var(--background-second);
  /*border: 2px solid var(--background-second);*/
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 12px 15px 13px;
}

button {
  background-color: var(--primary);
  color: white;
  max-height: 42px;
  font-weight: bold;
  font-size: 1rem;
  padding: 11px 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0px;
}

input[type="text"] {
  max-height: 42px;
  border: none;
  border-bottom: 1px solid var(--background-second);
  border-top: 1px solid var(--background-second);
  padding: 10px; /* That's great hack girl */
}

input[type="text"]::placeholder {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}




/*=====================================================================================*/
/*  RESPONSIVE ==================================================== OC 2023 ===========*/
/*========================================================== by Athena With Neah ======*/
/* Style pour tablettes */
@media screen and (max-width: 1024px) {
  header {
      background-color: lightgreen;

  }
  #filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  #filter h3{
    display: flex;
    width: 100%;
    justify-content: left;
    margin: 0px 0px 30px;
  }

  #filter nav {

  }

  #filter nav > a{
    max-width: 100px;
  }

  #hebergements-and-populaires{
  flex-direction: column;  

}



/* Style pour téléphones mobiles */
@media screen and (max-width: 480px) {
  header {
      background-color: rgb(221, 221, 28);
  }

  #hebergements-and-populaires{
    flex-direction: column-reverse;  
  
  }
}