html {
  background-color: aqua;
}

.main-container {
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
}

/*=============== B°_°kI =============================================================*/
/* HEADER ===================================================== OC FULLSTACK =========*/
/*====================================================================================*/

header {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: auto;
}

#logo {
  padding: 5px 5px 5px 0px;
}

#nav-header {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
}

#nav-header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#nav-header ul li {
  display: inherit;
  justify-items: center;
  align-items: center;
  padding: auto 2px;
}

#nav-header ul li a {
  padding: 0.6rem;
  color: black;
  text-decoration: none;
  border-top: solid 2px transparent;
}

#nav-header ul li a:hover {
  color: var(--primary);
  border-top: solid 2px var(--primary);
}

/*=============== B°_°kI =============================================================*/
/* MAIN ===================================================== OC FULLSTACK ===========*/
/*====================================================================================*/
main {
  max-width: 95%;
  margin: auto;
}

#filter {
  margin-top: 3vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

#filter h3 {
  display: inline-block;
}

#filter nav > a {
  padding: 1rem 2rem;
  margin-left: 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  border-color: #f2f2f2;
  border-radius: 30px;
  border-style: solid;
  font-weight: bold;
  font-size: 1.1rem;
}

#filter nav > a:hover {
  background-color: var(--second);
}

#hebergements-and-populaires {
  /* var */
  --min-host: 10ch;
  --gap-host: 1rem;
  /* rules */
  display: flex;
  flex: 60% auto;
  justify-content: space-between;
  gap: var(--gap-host);
}

#hebergements,
#populaires {
  background-color: var(--background-second);
  border-radius: 20px;
  padding: 20px;
  gap: 2vw;
}

/* -------------------------------------------------*/

#hebergements > * {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  gap: 1vw;
}

#hebergements h2 {
  display: flex;
  align-items: baseline;
  justify-content: left;
  width: 100%;
  max-height: 26px;
}

#hebergements > a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-top: 1em;
}

/* -------------------------------------------------*/

.populaires-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.populaires-title > * {
  display: flex;
}

/* -------------------------------------------------*/

#activites {
  display: flex;
  flex-direction: column;
  width: 90vw;

}

#activites > div {
  display: flex;
  flex: row nowrap;
  justify-content: space-around;
}

#activites div article {
  display: flex;
  flex-direction: row wrap;
  width: 100%;
  align-content: space-between;
}

/* -------------------------------------------------*/

article {
  display: flex;
  flex: row nowrap;
  max-width: 250px;
}

/*========================================================== 🥲 ======================*/
/* CARD ==================================================== -  Not easy =============*/
/*==================================================== No girl you have a good idea ==*/
.card {
  --img-ratio: 16 / 9;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem;
  max-width: 200px;
}

.card > img {
  aspect-ratio: var(--img-ratio);
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 0.2rem;
}

.lateral {
  /* that's really cool css */
  flex-basis: 370px;
  max-width: 370px;
  flex-flow: row nowrap;
  margin-top: 30px;
}
.lateral > img {
  --img-lateral-ratio: 4 / 5;
  aspect-ratio: var(--img-lateral-ratio);
  object-fit: cover;
  width: 123px;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 0.2rem;
}

.none {
  width: 297px;
  gap: 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  justify-content: space-between;
  /* text hack design girl */
    /* That so cute 😜 */
  white-space: nowrap; 
  text-overflow: ellipsis;
  font-size: clamp(0.3rem, 0.7rem, 1rem);
}

.none > img {
  --img-none-ratio: 9 / 16;
  aspect-ratio: var(--img-none-ratio);
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 0rem;
}

/*=============== B°_°kI =================== CICADA 3301 =============== A GAME ======*/
/* FOOTER ===================================================== DID FULLSTACK ========*/
/*====================================================================================*/

footer {
  max-width: 95%;
  margin: 1rem auto 0;
  display: flex;
  gap: 2vw;
  background-color: var(--background-second);
}
footer nav {
  display: flex;
  flex-flow: row;
  align-items: space-between;
}

footer h3 {
  margin-bottom: 0;
}

footer ul {
  padding: 0;
  align-items: center;
  align-content: center;
}
footer ul li {
  list-style: none;
  flex-flow: 1 1;
}

/*=====================================================================================*/
/* FORMS ========================================================== OC 2023 ===========*/
/*===================================================================== by Nepha ======*/
search {
  margin: 1rch auto;
  max-height: 42px;
}

#search .fa-location-dot {
  color: black;
  box-sizing: content-box;
  size: 20px;
  background-color: var(--background-second);
  /*border: 2px solid var(--background-second);*/
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 12px 15px 13px;
}

button {
  background-color: var(--primary);
  color: white;
  max-height: 42px;
  font-weight: bold;
  font-size: 1rem;
  padding: 11px 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0px;
}

input[type="text"] {
  max-height: 42px;
  border: none;
  border-bottom: 1px solid var(--background-second);
  border-top: 1px solid var(--background-second);
  padding: 10px; /* That's great hack girl */
}

input[type="text"]::placeholder {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
