/*====================================================================================*/
/* CSS STYLE by Neph =================================================================*/
/*==================================================================== Pure CSS ======*/
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");*/

/*====================================================================================*/
/* VARIABLES =========================================================================*/
/*====================================================================================*/
:root {
  /* Variables */
  --primary: #0065fc;
  --second: #deebff;
  --base: white;
  --base-light: white;
  --base-dark:black; 

  --background-primary: #d9d9d9;
  --background-second: #f2f2f2;

  --link: black;
  --radius: 1rem;
  /*--background-second: red;*/
}

/*====================================================================================*/
/* RESPONSIVE ========================================================================*/
/*====================================================================================*/

/* not on B°_°ki >>__ One Page system 

/*====================================================================================*/
/* GLOBAL ============================================================================*/
/*====================================================================================*/

* {
  /* Rules */
  box-sizing: border-box;
  font-family: raleway;
  font-size: 1rem;
}

html,
body {
  margin: 0;
  background-color: var(--base);
}

h1 {
  font-size: 1.2rem;
}

/*====================================================================================*/
/* ELEMENTS ==========================================================================*/
/*====================================================================================*/

.fa-solid {
  color: #0065fc;
}

.neutral-star {
  color: #f2f2f2;
}

.euro {
  font-weight: bold;
}


.infobulle {
  display: inline-block;
  vertical-align: text-bottom;
  align-items: baseline;
  padding-right: 10px;
}

a:link {
  color: var(--link);
} /* Liens non visités */
a:visited {
  color: var(--link);
} /* Liens visités */
/*
a:hover {
  background:var(--primary);
} /* Liens survolés */
a:active {
  color: var(--primary);
}

.main-container {
  background-color: white;
  max-width: 1280px;
  margin: 0 auto;
}

/*=============== B°_°kI =============================================================*/
/* HEADER ===================================================== OC FULLSTACK =========*/
/*====================================================================================*/

header {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: auto;
}

#logo {
  padding: 20px 5px 30px 0px;
}

#nav-header {
  width: 300px;
}

#nav-header ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

#nav-header ul li {
  display: inherit;
  justify-content: center;
  
  margin: auto;
  width: 50%;
}

#nav-header ul li a {
  display: block;
  width: 100%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  border-top: solid 2px transparent;
  /*border-top: solid 2px var(--primary);*/
}

#nav-header ul li a:hover {
  color: var(--primary);
  border-top: solid 2px var(--primary);
}

/*=============== B°_°kI =================== CICADA 3301 =============== A GAME ======*/
/* FOOTER ===================================================== DID FULLSTACK ========*/
/*====================================================================================*/

footer {
  display: flex;
  width: 95%;
  max-width: 95%;
  margin: 3vh auto 0;
  gap: 2vw;
  background-color: var(--background-second);
}
footer nav {
  width: 95%;
  display: flex;
  row-gap: 3vw;
  justify-content:space-evenly;
}

footer nav > div {
  width: 30%;
}


footer h3 {
  margin-bottom: 0;
}

footer ul {
  padding: 0;
  align-items: center;
  align-content: center;
}
footer ul li {
  list-style: none;
  padding-bottom: 1rem;
}

footer a:link {
    color: black;
  }

