/*====================================================================================*/
/* CSS STYLE by Neph =================================================================*/
/*==================================================================== Pure CSS ======*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");

/*====================================================================================*/
/* HOW TO KNOW NEPH ==================================================================*/
/*========================================================== FOR THE TEAM by NEPHA ===*/
/*
Opérateur ' ' (espace) tous les élements indiqués dans la cible 
Exemple : ```div p````

Opérateur '>' (chevron) tous les enfants directs dans la cible
Exemple : ```div > p```soit les enfants `p`de `div``

Opérateur '+' (plus) uniquement l'élément suivant le premier
Exemple : ```div + p``` Cible l'élément après le div et non dans le div

Opérateur '~' (tilde option+n) Cible tous les suivants le premier
Exemple : ```div ~ p``` Cibles tous les éléments après le div

Opérateur '[]' (square bracket pour les humains) Cible l'élement avec l'attribut
Exemple ```input[type="text"] tous les éléments contenant l'attribut cible

Opérateur `*` (Joker) tous les éléments possible dans la règle
Exemple : ```div + *```soit nimporte quel éléments à la suite de div 

*/

/*

Flex -----------

flex-shrink :  Valeur de retrecisement, initialisé par une valeur, 
0 signifie 'fixed' 
1 signifie 'rétrécie' et...

flex-basis :  Largeur de l'élément 
Exemple : flex-basis : 30vw; 300px... 
1 signifie 'rétrécie' et...


Source d'inspiration : 
    https://smolcss.dev/#smol-css-grid
    https://moderncss.dev/contextual-spacing-for-intrinsic-web-design/
    

*/

/*====================================================================================*/
/* VARIABLES =========================================================================*/
/*====================================================================================*/
:root {
  /* Variables */
  --primary: #0065fc;
  --second: #deebff;

  --background-primary: #d9d9d9;
  --background-second: #f2f2f2;

  --link: black;
  --radius: 1rem;
  /*--background-second: red;*/
}

/*====================================================================================*/
/* RESPONSIVE ========================================================================*/
/*====================================================================================*/

/*====================================================================================*/
/* GLOBAL ============================================================================*/
/*====================================================================================*/

* {
  /* Rules */
  box-sizing: border-box;
  font-family: raleway;
  font-size: 1rem;
}

html,
body {
  margin: 0;
}

h1 {
  font-size: 1.2rem;
}

/*====================================================================================*/
/* ELEMENTS ==========================================================================*/
/*====================================================================================*/

.fa-solid {
  color: #0065fc;
}

.neutral-star {
  color: #f2f2f2;
}

a:link {
  color: var(--link);
} /* Liens non visités */
a:visited {
  color: var(--link);
} /* Liens visités */
a:hover {
  background: (var(--primary));
} /* Liens survolés */
a:active {
  color: var(--primary);
}
