/*====================================================================================*/
/* CSS STYLE by Neph =================================================================*/
/*==================================================================== Pure CSS ======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');

/*====================================================================================*/
/* HOW TO KNOW NEPH ==================================================================*/
/*========================================================== FOR THE TEAM by NEPHA ===*/
/*
Opérateur ' ' (espace) tous les élements indiqués dans la cible 
Exemple : ```div p````

Opérateur '>' (chevron) tous les enfants directs dans la cible
Exemple : ```div > p```soit les enfants `p`de `div``

Opérateur '+' (plus) uniquement l'élément suivant le premier
Exemple : ```div + p``` Cible l'élément après le div et non dans le div

Opérateur '~' (tilde option+n) Cible tous les suivants le premier
Exemple : ```div ~ p``` Cibles tous les éléments après le div

Opérateur '[]' (square bracket pour les humains) Cible l'élement avec l'attribut
Exemple ```input[type="text"] tous les éléments contenant l'attribut cible

Opérateur `*` (Joker) tous les éléments possible dans la règle
Exemple : ```div + *```soit nimporte quel éléments à la suite de div 



*/
/*====================================================================================*/
/* VARIABLES =========================================================================*/
/*====================================================================================*/
:root {
    --primary: #0065FC;
    --second : #DEEBFF;
    --background-primary : #D9D9D9;
    --background-second: #F2F2F2;
    /*--background-second: red;*/
  }

/*====================================================================================*/
/* RESPONSIVE ========================================================================*/
/*====================================================================================*/


/*====================================================================================*/
/* GLOBAL ============================================================================*/
/*====================================================================================*/

*{
    font-family: raleway;
    font-size: 1rem;
    box-sizing: border-box;

}

html, body{
margin: 0;

}

h1{

    font-size: 1.2rem;
}

/*====================================================================================*/
/* ELEMENTS ==========================================================================*/
/*====================================================================================*/

.fa-solid{
    color: #0065FC;
}

.neutral-star{
    color:#F2F2F2;
}

/*====================================================================================*/
/* CARD ==============================================================================*/
/*====================================================================================*/

.card {
width: 120px;
  --img-ratio: 2/3;
  display: flex;
  flex-flow: row wrap;
  /* Supported for flexbox in modern browsers since April 2021 */
  gap: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem;
    
    }

.card > img {
    aspect-ratio: var(--img-ratio);
    object-fit: cover;
    width: 100%;
}
    